spring:
  application:
    name: fintrack-backend

  server:
    port: 8080

  datasource:
    url: jdbc:postgresql://localhost:5432/fintrack_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  kafka:
    producer:
      bootstrap-servers: localhost:9092
    consumer:
      bootstrap-servers: localhost:9092
      group-id: fintrack-consumers
      auto-offset-reset: earliest

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, loggers, beans

jwt:
  secret: ${JWT_SECRET:minhaChaveSuperSecretaDeNoMinimo32Caracteres!!}
  expiration: 3600000
  refresh-expiration: 604800000
